<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-body text-center">
      <div class="p-5">
        <i class="fas fa-times-circle fa-5x text-danger"></i>
      </div>
      <div>
        <h2>{{error.status}} - {{message}}</h2>
        <p></p>
        <div class="row form-group form-buttons">
          <button class="btn btn-secondary" onClick="window.history.back();">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
